Source:	%%NAME%%
Section: libs
Priority: optional
Maintainer: Christian Hiesl <hiesl@genua.de>
Build-Depends: check, debhelper (>= 5), autotools-dev, pkg-config (>= 0.18)
Standards-Version: 3.7.2

Package: %%NAME%%
Architecture: any
Depends: ${shlibs:Depends}
Description: Library implementing communication protocol
 XXX the package still needs a long description explaining
 why the system administrator should install this package
