Source: anoubis
Section: misc
Priority: extra
Maintainer: Stefan Fritsch <fritsch@genua.de>
Build-Depends: debhelper (>= 5), libx11-dev, libwxgtk2.8-dev, check,
  pkg-config (>= 0.18), libevent-dev, libssl-dev, libattr1-dev, libnotify-dev
Standards-Version: 3.7.3

Package: anoubisd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, perl-modules
Description: Central daemon of the Anoubis Security Suite
 XXX: long description

Package: xanoubis
Architecture: any
Depends: ${shlibs:Depends}, notification-daemon
Description: Graphical user interface of the Anoubis Security Suite
 XXX:  long description

Package: anoubis-dbg
Section: libdevel
Architecture: any
Depends: anoubisd (= ${binary:Version})
Description: Debugging symbols for anoubisd/xanoubis
 XXX:  long description
