#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g
LDFLAGS = "-Wl,-z,defs"

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

CONFIGURE_FLAGS := \
	--host=$(DEB_HOST_GNU_TYPE) \
	--build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr \
	--mandir=\$${prefix}/share/man \
	--infodir=\$${prefix}/share/info \
	--sbindir=/sbin \
	CFLAGS="$(CFLAGS)" \
	LDFLAGS="$(LDFLAGS)"

config.status: configure
	dh_testdir
	./configure $(CONFIGURE_FLAGS)


#Architecture
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp:  config.status
	$(MAKE)
	touch $@

build-indep: build-indep-stamp
build-indep-stamp:  config.status
	# Add here commands to compile the indep part of the package.
	#$(MAKE) doc
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp #CONFIGURE-STAMP#

	[ ! -f Makefile ] || $(MAKE) distclean

	dh_clean

install: install-indep install-arch
install-indep:

DEFPOLICYDIR=/usr/share/anoubisd/policy_templates
install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s

	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

	mkdir -p debian/tmp/usr/share/applications
	mkdir -p debian/tmp/usr/share/autostart
	cp src/xanoubis/xanoubis.desktop debian/tmp/usr/share/applications
	cp src/xanoubis/xanoubis.desktop debian/tmp/usr/share/xanoubis
	mkdir -p debian/tmp/usr/share/pixmaps
	cp src/xanoubis/icons/xanoubis.png debian/tmp/usr/share/pixmaps/xanoubis.png

	for a in admin user profiles ; do \
	  for f in debian/policy.$$a.* ; do \
	    cp $$f debian/anoubisd/$(DEFPOLICYDIR)/$$a/$${f##*/policy.$$a.} ;\
	  done ;\
	done

	# add the wizard templates of xanoubis
	mkdir -p debian/tmp/usr/share/xanoubis/policy_templates/wizard
	cp src/xanoubis/profiles/wizard/* debian/tmp/usr/share/xanoubis/policy_templates/wizard

	rm -rf debian/tmp/usr/share/xanoubis/profiles
	ln -s /etc/anoubis/profiles debian/tmp/usr/share/xanoubis/profiles

	# add udev rules for correct devices permissions
	mkdir -p debian/tmp/etc/udev/rules.d
	cp support/udev.rules debian/tmp/etc/udev/anoubis.rules
	ln -s /etc/udev/anoubis.rules debian/tmp/etc/udev/rules.d/021_anoubis.rules

	dh_install -s --sourcedir=debian/tmp

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	# see anoubisd.postinst for migration on upgrades
	dh_installinit --update-rcd-params="start 37 S ." --error-handler=true -panoubisd
	dh_installman
	dh_link
	dh_desktop -pxanoubis
	dh_strip --dbg-package=anoubis-dbg
	# Must put xanoubis's checksum into the anoubisd package because
	# xanoubis is not yet installed when anoubisd's postinst runs.
	# The checksum must be calculated after dh_strip's debugging symbol
	# magic.
	SUM_XANOUBIS=`sha256sum $(CURDIR)/debian/xanoubis/usr/bin/xanoubis|cut -d' '  -f 1`; \
	for f in `grep -rl xanoubis $(CURDIR)/debian/anoubisd/$(DEFPOLICYDIR)` ; do \
	perl -p -i -e 's{/usr/bin/xanoubis \@\@}{/usr/bin/xanoubis '$$SUM_XANOUBIS'}g' $$f ; \
	done
	dh_compress
	dh_fixperms -X var/lib/anoubis/policy/admin \
	    -X var/lib/anoubis/policy/user
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	#$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch
