[Desktop Entry]
Name=xanoubis
Exec=xanoubis
Icon=xanoubis
Comment=GUI of the Anoubis Security Suite
Terminal=false
Categories=Application;Network
Type=Application
Version=1
