[Desktop Entry]
Version=1
Type=Application
Encoding=UTF-8
Name=xanoubis
Comment=GUI of the Anoubis Security Suite
Comment[de]=Graphische Oberfläche der Anoubis Security Suite
TryExec=xanoubis
Exec=xanoubis
Icon=xanoubis
Categories=Application;Network
Terminal=false
X-KDE-autostart-phase=2
X-KDE-autostart-after=panel
X-GNOME-Autostart-enabled=true
